<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeOut(325).prepend("<div class='alert alert-success'><%= flash[:notice] = "Comment was deleted" %></div>");
  $('.js-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
<% else %>
  $('#comment-' +<%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] = "The comment could not be deleted." %></div>");
<% end %>